<%= form_for(@profile, :url => profile_url, :html => {:multipart => true }) do |f| %>
  <% if @profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% @profile.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :signature %><br />
    <%= f.text_area :signature %>
  </div>
  <div class="field">
    <%= f.label :avatar %><br />
    <%= image_tag @profile.avatar.url %>
    <%= f.file_field :avatar %>
  </div>
  
  <div class="actions">
    <%= f.submit :class => 'button'%>
  </div>
<% end %>
