%h1 Profile
#tabs
  %ul
    %li 
      %a{:href => "#general-tab"} General
    %li 
      %a{:href => "#characters-tab"} Characters
  #general-tab
    %div
      %p
        = image_tag @profile.avatar.url
      %p
        Profile is 
        %b 
          = "not" unless @profile.public? 
          public
        %br/
        Alts can be viewed by
        %b= @profile.public_alts? ? "everyone" : "nobody"
      %p
        %b Signature:
        .sigdisplay
          = raw @profile.signature_html
      - if user_signed_in? && current_user.member?
        = link_to 'Edit', edit_profile_path, :class => "button" unless @profile != current_user.profile
  #characters-tab
    %div
      %table#rostertable.tablesorter
        %thead
          %tr
            %th Name
            %th Rank
            %th Calling
            %th Level
        %tbody
          - @characters.each do |char|
            %tr
              %td= char.name
              %td= char.rank.name
              %td= char.calling
              %td= char.level
