%h1 Listing forums
%table
  %tr
    %th Name
    %th
    %th
    %th
  - @forums.each do |forum|
    %tr
      %td= forum.name
      %td= link_to 'Show', forum
      %td= link_to 'Edit', edit_forum_path(forum)
      %td= link_to 'Destroy', forum, :confirm => 'Are you sure?', :method => :delete
%br/
= link_to 'New Forum', new_forum_path
