<% content_for :head do %>
  <%= javascript_include_tag 'forums' %>
<% end -%>
<div id="breadcrumbs" class="sequential">
<%= link_to @forum.forum_group.name, forum_groups_url %> &gt; <%= @forum.name %>
</div>
<div id="content" class="sequential"><%= link_to "New Topic", new_forum_group_forum_topic_url(@forum.forum_group, @forum), :class => "navbutton" if current_user.can_write(@forum) %>
  <div id="postings">
    <% @forum.topics.each do |topic| %>
      <div class="topic">
        <h2><%= "Locked: " if topic.locked %><%= "Sticky: " if topic.sticky %><%= link_to topic.title, topic %><%=" (has unread replies)" if current_user.topic_unread? topic %></h2>
        <div class="author"> created by <%= topic.author.nickname %> at <%= l topic.created_at, :format => :short %>, last post: <%= l topic.last_reply_at, :format => :short %> by <%= topic.replies.last.andand.author.nickname %>
          <div class="right">Replies: <%= topic.replies.count %></div>
        </div>
      </div>
    <% end -%>
  </div>
</div>
