<h1>Administration</h1>
<ul>
  <li><%= link_to "Articles", administration_articles_path%></li>
  <li><%= link_to "Forum Administration", administration_forum_groups_path%></li>
  <li><%= link_to "User Administration", administration_users_path%></li>
  <li><%= link_to "Content Administration", administration_pages_path%></li>
</ul>
<div><h2>Upload Guild XML</h2>
  <%= form_tag administration_upload_guild_xml_path, :multipart => true  do %>
    <%= label_tag :xml, "File" %>: <%= file_field_tag :xml %><br />
    <%= submit_tag "Do it!"%>
  <% end -%>
</div>
