<div class="posting">
  <div class="author">Author:<%= topic.author.nickname %><%= image_tag topic.author.profile.avatar.url %><div class="timestamp"> at <%= l topic.created_at, :format => :short %></div></div>
  <div class="content">
    <div class="header">
      <h2><%= "Locked: " if topic.locked %><%= "Sticky: " if topic.sticky %><%= link_to topic.title, topic %></h2>
      <div class="navigation"><%= link_to("Edit", edit_topic_url(topic), :class => "navbutton") if topic.author == current_user && !topic.locked %></div>
    </div>
    <div class="body"><%= raw topic.body_html %></div>
    <div class="clear signature"><%= raw topic.author.profile.signature_html %></div>
  </div>
  <div class="footer">&nbsp;</div>
</div>
