- content_for :head do
  = javascript_include_tag 'forums'
#content.sequential
  #breadcrumbs.sequential
    = link_to @topic.forum.forum_group.name, forum_groups_url
    \&gt; #{link_to @topic.forum.name, [@topic.forum.forum_group, @topic.forum]}
  %div
    = link_to "Reply", new_topic_reply_url(@topic), :class => "navbutton" if current_user.can_write(@topic.forum) && !(@topic.locked)
    = link_to "Sticky", sticky_topic_url(@topic), :class => "navbutton" if current_user.can_moderate(@topic.forum) && !@topic.sticky
    = link_to "Unsticky", unsticky_topic_url(@topic), :class => "navbutton" if current_user.can_moderate(@topic.forum) && @topic.sticky
    = link_to "Lock", lock_topic_url(@topic), :class => "navbutton" if current_user.can_moderate(@topic.forum) && (!@topic.locked)
    = link_to "Unlock", unlock_topic_url(@topic), :class => "navbutton" if current_user.can_moderate(@topic.forum) && (@topic.locked)
    = link_to "Delete", @topic, :confirm => 'Are you sure?', :method => :delete, :class => "navbutton" if current_user.can_moderate(@topic.forum)
  #postings
    = render @topic
    = render @topic.replies
  .clear
    = link_to "Reply", new_topic_reply_url(@topic), :class => "navbutton" if current_user.can_write(@topic.forum) && !(@topic.locked)
