%h1 Critical Failure Roster
%table#rostertable.tablesorter
  %thead
    %tr
      %th Name
      %th Rank
      %th Calling
      %th Level
  %tbody
    - @characters.each do |char|
      %tr
        - if char.profile && (char.profile.public? || current_user.andand.member?)
          %td= link_to char.name, char.profile
        - else
          %td= char.name
        %td= char.rank.name
        %td= char.calling
        %td= char.level
