%h1 Listing users
%table#rostertable.tablesorter
  %thead
    %tr
      %th Nickname
      %th Role
      %th Ex-Member
      %th{:colspan => 2} 
  %tbody
    - @users.each do |user|
      %tr
        %td= link_to user.nickname, [:administration, user]
        %td= user.role.name
        %td= user.ex_member
        %td= link_to 'Edit', edit_administration_user_path(user)
        %td= link_to 'Destroy', [:administration, user], :confirm => 'Are you sure?', :method => :delete
%h2 Role Statistics
%table 
  %tr
    %th Role Name
    %th Users
  - @roles.each do |role|
    %tr
      %td= role.name
      %td= role.users.count
%br/
= link_to 'New User', new_administration_user_path
