%p
  = label_tag :email
  \:
  %br/
  = @user.email
%p
  = label_tag :nickname
  \:
  %br/
  = @user.nickname
%p
  = label_tag :role
  \:
  %br/
  = @user.role.name
%p
  = @user.ex_member? ? "Ex-Member" : "No Ex-Member"
%p
  = @user.calendar_admin? ? "Calendar Admin" : "No Calendar Admin"
= link_to 'Edit', edit_administration_user_path(@user)
|
\#{link_to 'Back', administration_users_path}
