<p id="notice"><%= notice %></p>
<p><%= label_tag :email %>:<br/>
<%= @user.email%>
</p>

<p><%= label_tag :nickname %>:<br/>
<%= @user.nickname%>
</p>


<%= link_to 'Edit', edit_administration_user_path(@user) %> |
<%= link_to 'Back', administration_users_path %>
