= form_for @calendar_event do |f|
  -if @calendar_event.errors.any?
    #error_explanation
      %h2= "#{pluralize(@calendar_event.errors.count, "error")} prohibited this calendar_event from being saved:"
      %ul
        - @calendar_event.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :title 
    %br/
    = f.text_field :title
  .field
    = f.label :location
    %br/
    = f.text_field :location
  .field
    = f.label :start
    %br/
    = text_field_tag :start_date, @calendar_event.start.andand.strftime("%F")
    = text_field_tag :start_time, @calendar_event.start.andand.strftime("%R")
  .field
    = f.label :end
    %br/
    = text_field_tag :end_date,  @calendar_event.end.andand.strftime("%F")
    = text_field_tag :end_time,  @calendar_event.end.andand.strftime("%R")
  .field
    = f.check_box :public
    = f.label :public?
  .actions
    = f.submit 'Save'
