- content_for :head do
  = stylesheet_link_tag 'fullcalendar.css'
  = stylesheet_link_tag 'calendrical.css'
  = javascript_include_tag 'fullcalendar.min.js'
  = javascript_include_tag 'jquery.calendrical.js'
  = javascript_include_tag 'date.format.js'
  = javascript_include_tag 'calendar.js'

#content.sequential
  %h1 Calendar 
  %p= current_user.profile.time_zone
  #info_area
  #dialog
  #calendar
