<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @article.title %>
</p>


<p>
  <b>Body html:</b>
<hr />
  <%= raw @article.body_html %>
<hr />
</p>

<p>
  <b>Conversion:</b>
  <%= @article.conversion %>
</p>

<p>
  <b>Slug:</b>
  <%= link_to(@article.slug, @article) %>
</p>


<%= link_to 'Edit', edit_administration_article_path(@article) %> |
<%= link_to 'Back', administration_articles_path %>
