<%= form_for([:administration, @forum_group, @forum]) do |f| %>
  <% if @forum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@forum.errors.count, "error") %> prohibited this forum from being saved:</h2>

      <ul>
      <% @forum.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <fieldset>
    <legend>Permissions</legend>
    <% @forum.forum_roles.each do |permission| %>
      <ul>
        <li>
        <%= permission.role.name %> <%= check_box_tag "permission[#{permission.role_id}][read]", 'yes', permission.read %> read 
        <%= check_box_tag "permission[#{permission.role_id}][write]", 'yes', permission.write %> write 
        <%= check_box_tag "permission[#{permission.role_id}][moderate]", 'yes', permission.moderate %> moderate 
        </li>
      </ul>
    <% end -%>
  </fieldset>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
